@charset "utf-8";
body{
margin: 0% 0px 0px 0px;
   
   

    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right,
    rgb(0, 255, 81, 0.918), rgb(38, 243, 103) ,rgb(92, 248, 141), rgb(124, 245, 162), rgb(189, 248, 208),
    rgb(189, 248, 208),rgb(124, 245, 162),rgb(92, 248, 141),rgb(38, 243, 103),rgba(0, 255, 81, 0.918)
      );
}



.container{
    margin: 10px 10px 10px 10px;

    background-color: transparent;
    display: block;
    width: 98vw;

    
    height: 90vh0;

    
}
header{
    
    display: flex;
    flex-direction: row;
    background-color: transparent;
    width:auto;
    margin-right: 0%;
    height: 5vh;
    
    
}


#col-titulo{

    text-align: center;
    width: auto;
    height:auto;



}

#col-titulo >p{
    margin-top: 0%;
    margin-bottom: 0%;
    
    width: auto;
    height: auto;
    font-size: 5vh;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;



}

.emp-spc{
    margin-inline-start: auto;
    background-color: aliceblue;

}

.col-ul{

    height:auto;
    width: auto;

      
}


.col-ul>p{
    height:auto;
    font-size: 4vh;
    width: auto;

    margin-top: 0%;
    margin-bottom: 0%;
    text-align: center;
    border: 0.2vh solid rgb(255, 255, 255)  ;
}
.col-ul ul{
    padding: 0%;
    list-style: none;
    display: none;
    
    margin:0ch 0px 0px 0px;

}
:hover.col-ul>ul{
    display: block;
}
.col-ul ul li{
    width: 15vh;
    border: 0.2vh solid rgb(0, 0, 0);
    font-size: 3vh;
    text-align: center;
}
.sub-carta>ul{
    display: none;

}
:hover.sub-carta >ul{
    display: block;
}

.main-container{
    background-color: transparent;
    display: flex;
    height:100vh;
    
    
    

    

border: 0.2vh solid black;
    

}
.teste{

    background-color: aqua;
    height: auto;
    width: 50vw;
}
.teste2{
    z-index: -2;
    background-color: rgb(233, 130, 130);
    width: 50vw;
}
.teste3{
    height: 50vh;

    background-color: azure;
    width: 100%;
}
footer{
    background-color: aqua;
    width:auto;
    height: 5vh;
}
#spotify{
    width: 20vw;
}