@charset "utf-8";
body{
    margin: 0% 0px 0px 0px;
   display:table;
   flex-direction: row-reverse;
   background-color: #004B23;
   
   

    width: 100vw;
    height: 99vh;

}
header, .col-ul,.sub-carta {
    background-color:#ffffff;

}
header {
  border-bottom: gray 1px solid;

}

header{
    position: initial;
    z-index: 3;
    height: 6%;
    width: 100%;
    display: flex;

}
#col-titulo {
    display: block;
    position:relative;
    
    

    height:100%;
    width: 100%;
}
#col-titulo p{

    display: block;
    font-size:5vh; 
    width:fit-content;
    height: 100%;
 
    margin: 0%;
    
}



#emp-spc{
    
    margin-inline-start: auto;
    
}
.col-ul{
    flex-direction: column;
    border: black 1px solid;
    margin: 0%;
    padding: 0%;
    list-style: none;
    width: fit-content;   
    height: 100%;
}
.sub-carta{
    display: none;
    height: fit-content;
    padding: 0%;
}
:hover.sub-carta{
    display: block;
}
.col-ul p, .sub-carta p{
    font-size: 2vw;
    width: 100%;
    border: aliceblue 1px solid;
    margin: 0%;
    height: 100%;

}
.sub-carta ul{
    list-style: none;
    background-color: aqua;
    display: none;
    padding: 0%;
    height: fit-content;
}
:hover.sub-carta ul{
    display: block;
}





main{
    position: relative;
    z-index: -2;
    display: flex;
    height: 100%;
    width: 99.9vw;
   
    
}




#spotify{
    height: 100%;
   
    

    width: 20%;
}
.teste{
    z-index: 2;
    display: inline-block;
    width: 100%;
}
.teste2{
    z-index: -2;
    background-color: blanchedalmond;
    width: 50%;
}